<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="auto"><img class="local" src="../../assets/local.png" alt="Localização"></ion-col>
      <ion-col size="7"><p class="local">Taboão da Serra, SP</p></ion-col>
      <ion-col size="2"><img class="user" src="../../assets/user.png" alt=""></ion-col>
    </ion-row>
  </ion-grid>
  
  <p class="bv">Seja bem-vindo</p>
  <h1><strong>Vamos pedir itens fresquinhos para você?</strong></h1>
  <h2>Categorias</h2>

  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-card class="frutas">
          <img src="../../assets/frutas.png" alt="Abacate">
          <ion-card-header>
            <ion-card-title>Frutas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="auto">
        <ion-card class="diversos">
          <img src="../../assets/diversos.png" alt="Chocolate">
          <ion-card-header>
            <ion-card-title>Diversos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="auto">
        <ion-card class="acougue">
          <img src="../../assets/acougue.png" alt="Frango">
          <ion-card-header>
            <ion-card-title>Açougue</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <h2>Minhas Compras</h2>

  <ion-grid>
    <ion-row>
        <ion-col>
          <img  class="frutas" src="../../assets/frutas.png" alt="">
        </ion-col> 
          
        <ion-col>
          <h3>Frutas</h3> 
          <p>27/05/2024</p>
        </ion-col> 

        <ion-col>
          <h3 style="text-align: right;"><strong>$ 50,00</strong></h3>
          <p style="text-align: right;">5 itens</p>
        </ion-col> 
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="diversos" src="../../assets/diversos.png" alt="">
      </ion-col> 
        
      <ion-col>
        <h3>Diversos</h3> 
        <p>20/05/2024</p>
      </ion-col> 

      <ion-col>
        <h3 style="text-align: right;"><strong>$ 35,40</strong></h3>
        <p style="text-align: right;">6 itens</p>
      </ion-col>  
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="acougue" src="../../assets/acougue.png" alt="">
      </ion-col> 
        
      <ion-col>
        <h3>Açougue</h3> 
        <p>20/05/2024</p>
      </ion-col> 

      <ion-col>
        <h3 style="text-align: right;"><strong>$ 56,44</strong></h3>
        <p style="text-align: right;">3 itens</p>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>

