
<ion-content [fullscreen]="true">
  
  <p>Taboão da Serra, SP</p>
  
  <img src="assets/map-pin 1.png" alt="">

  <img src="assets/user.png" alt="" class="user">

  <p class="bem-vindo">Seja bem-vindo,</p>

  <h1>Vamos pedir itens fresquinhos para você?</h1>

  <h2>Categorias</h2>

  <ion-card class="Abacate_card"></ion-card>
  <img src="assets/frutas.png" alt="" class="Abacate">
  <ion-card class="Abacate_card2"></ion-card>
  <h2 class="Frutas">Frutas</h2>

  <ion-card class="Chocolate_card"></ion-card>
  <img src="assets/diversos.png" alt="" class="Chocolate">
  <ion-card class="Chocolate_card2"></ion-card>
  <h2 class="Diversos">Diversos</h2>

  <ion-card class="Carne_card"></ion-card>
  <img src="assets/acougue.png" alt="" class="Carne">
  <ion-card class="Carne_card2"></ion-card>
  <h2 class="Acougue">Açougue</h2>

  <h2 class="MyCompras">Minhas Compras</h2>

  <ion-card class="Abacate_card3"></ion-card>
  <img src="assets/frutas.png" alt="" class="Abacate2">
  <h2 class="Frutas2">Frutas</h2>
  <h1 class="AbcValor">$ 50,00</h1>
  <p class="Data">27/05/2024</p>
  <p class="Itens">5 itens</p>

  <ion-card class="Chocolate_card3"></ion-card>
  <img src="assets/diversos.png" alt="" class="Chocolate2">
  <h2 class="Diversos2">Diversos</h2>
  <h1 class="ChocoValor">$ 35,40</h1>
  <p class="Data2">20/05/2024</p>
  <p class="Itens2">6 itens</p>

  <ion-card class="Carne_card3"></ion-card>
  <img src="assets/acougue.png" alt="" class="Carne2">
  <h2 class="Acougue2">Açougue</h2>
  <h1 class="CarneValor">$ 56,44</h1>
  <p class="Data3">20/05/2024</p>
  <p class="Itens3">3 itens</p>

  <ion-button fill="clear" href="home" class="house">
    <ion-icon slot="icon-only" ios="home-outline" md="settings-sharp"></ion-icon>
  </ion-button>

  <ion-button fill="clear" href="pag2" class="search">
    <ion-icon slot="icon-only" ios="search-outline" md="settings-sharp"></ion-icon>
  </ion-button>

  <ion-button fill="clear" href="pag1" class="document">
    <ion-icon slot="icon-only" ios="document-text-outline" md="settings-sharp"></ion-icon>
  </ion-button>

  <ion-button fill="clear" href="pag3" class="bag">
    <ion-icon slot="icon-only" ios="bag-handle-outline" md="settings-sharp"></ion-icon>
  </ion-button>

</ion-content>
