<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="auto"><img class="local" src="../../assets/local.png" alt="Localização"></ion-col>
      <ion-col size="7"><p class="local">Taboão da Serra, SP</p></ion-col>
      <ion-col size="2"><img class="user" src="../../assets/user.png" alt=""></ion-col>
    </ion-row>
  </ion-grid>

  <ion-searchbar placeholder="" style="--background: white;"></ion-searchbar>

  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col class="frutas" size="5.5" size-md="4" size-lg="2"><img class="frutas" src="../../assets/frutas.png" alt=""><p class="frutas">Frutas</p></ion-col>
      <ion-col class="diversos" size="5.5" size-md="4" size-lg="2"><img class="diversos" src="../../assets/diversos.png" alt=""><p class="diversos">Diversos</p></ion-col>
      <ion-col class="acougue" size="5.5" size-md="4" size-lg="2"><img class="acougue" src="../../assets/acougue.png" alt=""><p class="acougue">Açougue</p></ion-col>
      <ion-col class="bebidas" size="5.5" size-md="4" size-lg="2"><img class="bebidas" src="../../assets/bebidas.png" alt=""><p class="bebidas">Bebidas</p></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
